.container {
  height: 100vh;
  min-width: 100vw;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  background: var(--blue);
  color: var(--white);

  position: relative;
}

.container > img {
  width: 768px;
  height: 660px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.container > section {
  display: flex;
  flex-direction: column;

  z-index: 1;
  transform: translateX(-10rem);
}

.container > section > img {
  width: 360px;
  height: 76px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;

  height: 250px;
  width: 420px;

  margin-top: 96px;
}

.content h1 {
  font-size: 2.25rem;
}

.githubContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 60px;
  width: 318px;

  margin-top: 24px;
}

.githubContent img {
  height: 40px;
  width: 40px;
}

.githubContent p {
  font-size: 1.25rem;
  font-family: 'Inter';
  font-weight: 500;
  line-height: 1.8rem;
  width: 250px;
  color: var(--text-heighlight);
}

.button {
  display: flex;
  height: 80px;

  margin-top: 40px;
}

.button input {
  height: 100%;
  width: 340px;

  background: linear-gradient(90deg, #4953b8 0%, rgba(73, 83, 184, 0.2) 100%);
  border-radius: 5px 0 0 5px;
  border: 0 none;

  padding: 0 30px;

  color: var(--text-heighlight);

  font-size: 1.25rem;
  font-weight: normal;
  font-style: none;
  line-height: 2.12rem;
}

.button button {
  height: 100%;
  width: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--blue-dark);
  border-radius: 0px 5px 5px 0px;
  border: 0 none;
}

.button button:hover {
  border: 1.5px solid #414aa3;
}

.content > span {
  margin-top: 1rem;
  color: var(--red-error);
}

@media (max-width: 1400px) {
  .container > img {
    width: 668px;
    height: 560px;
  }
}
